.subTitle {
    text-align: left;
    font-size: 1.25rem;
    color: rgb(138, 137, 137)
  }
  
.box {
    display: flex;
    justify-content: flex-end;
    /* Knopf rechts ausrichten */
}
.box-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    margin-top: 15px

    /* Knöpfe sind am unteren Rand ausgerichtet */
}

