@import "bulma/sass/utilities/mixins.sass";

@include mobile {
    .navbar-menu.is-active {
        background-color:  grey;
    }
    .navbar-end {
        display: flex;
        justify-content: flex-end; /* Elemente nach rechts ausrichten */
        align-items: center; /* Optional: Elemente vertikal zentrieren */
 
    }
}
