@import "../variables";
@import "bulma/sass/utilities/mixins.sass";

.table th {
    text-align: left !important;
    height: 60px;
}
.table td {
    text-align: left !important;
}
.image {
    width: 250px;
}

@include mobile {
    .box {
        display: flex;
        justify-content: center; /* Zentriert horizontal */
        align-items: center; /* Zentriert vertikal */
    }
    .image {
        width: 200px;
        /* Optional: Fügen Sie weitere Stile hinzu, um die Größe und das Aussehen des Bildes anzupassen */
    }
}
